body {
  margin: 0;
  /*Inherited by everything else*/
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}

/*Centres in the middle*/
.fixed-width {
  width: 1200px;
  margin: 0 auto;
}

.container {
}

.navigation-bar {
  background-color: black;
  width: 100%;
  height: 40px;
}

.navigation-bar ul {
  margin: 0;
  padding: 0;
}

.navigation-bar ul li {
  float: left;
  list-style: none;
  font-size: 0.75em;
  color: #A4A4A4;
  padding: 10px 20px 10px 20px;
  border-right: 1px solid #B4B4B4;
}

.menu-bar {
  background-color: #0c101c;
  width: 100%;
  height: 64px;
}

.menu-bar ul {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.menu-bar ul li {
  float: left;
  font-family: Arial;
  color: white;
  font-size: 0.75em;
  position: relative;
  left: 300px;
  top: 2px;
  padding: 22.5px 60px 8px 10px;
}

.menu-item {
}

.menu-info {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  padding-top: 25px; /* Location of the box */
  padding-left: 50px;
  padding-right: 100px;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: #0c101c;
}

.content {
  background-color: #0c101c;
  width: 100%;
  color: #000000;
}

.content img {
  position: relative;
  width: 100%;
  height: auto;
  top: -10px;
}

.content h2 {
  position: absolute;
  top: 210px;
  left: 20px;
  color: white;
  font-size: 35px;
}

.content button {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 300px;
  left: 20px;
  background-color: black;
  border: 0;
}

.content h5 {
  position: absolute;
  top: 280px;
  left: 100px;
  font-size: 16px;
  color: #f53966;
  padding-left: 10px;
}

.content h6 {
  font-style: normal;
  position: absolute;
  top: 290px;
  left: 100px;
  padding-left: 10px;
  font-size: 16px;
  color: white;
}

.content button img {
  width: 50px;
  padding: 20px 0;
}

.featured-videos {
  width: 100%;
  height: 300px;
  background-color: #0c101c;
}

.featured-videos h3 {
  background-color: #0c101c;
  color: white;
  font-family: Arial;
  font-weight: 100;
  padding: 0 0 0 10px;
  font-size: 25px;
}

.featured-videos ul {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.featured-videos ul li {
  float: left;
  padding: 5px 0 5px 10px;
}

#logo {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  border-right: 1px solid #B4B4B4;
}

#sign-in {
  float: left;
  font-size: 0.75em;
  color: #A4A4A4;
  padding: 10px 90px 10px 10px;
  border-right: 1px solid #B4B4B4;
}

#search-box {
  float: left;
  width: 181px;
  padding: 5px 90px 10px 10px;
}

#search-box input {
  height: 22px;
  padding-bottom: 2px;
  background-image: url('http://static.bbci.co.uk/frameworks/barlesque/2.88.1/orb/4/img/orb-search-dark.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.clear {
  clear: both;
}

#iplayer-logo {
  float: left;
  position: relative;
  width: 180px;
  padding: 10px 10px 5px 10px;
  fill: #F54996;
}

.description {
  color: white;
  position: absolute;
  top: 375px;
  left: 20px;
  font-size: 15px;
  max-width: 210px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.is-visible {
  display: block;
  z-index: 1; /* Sit on top */  
}